<h1>Pirates</h1>

<div class = "pirate">
    <h3>Name: <%= @pirate.name %></h3><br>
    <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
    <h4>Height: <%= @pirate.height %> inches</h4>
</div>


<h1>Ships</h1>
<div class = "ships">
    <h3><%=@ships[0].name%></h3>
    
    
    <h3><%=@ships[1].name%></h3>

</div>

